﻿@model F2B.Orchard.Schedule.Settings.ScheduleSettings

@{
    Script.Require("Spectrum").AtFoot();
    Style.Require("Spectrum");
}

<fieldset>
    <input type="color" name="@Html.FieldNameFor(m => m.EventForegroundColor)" id="@Html.FieldIdFor(m => m.EventForegroundColor)" value="#@Model.EventForegroundColor.ToString("X6")" />
        <label class="fortextbox" for="@Html.FieldIdFor(m => m.EventForegroundColor)">@T("Set the text color for this schedule")</label>
</fieldset>
<fieldset>
    <input type="color" name="@Html.FieldNameFor(m => m.EventBackgroundColor)" id="@Html.FieldIdFor(m => m.EventBackgroundColor)" value="#@Model.EventBackgroundColor.ToString("X6")" />
        <label class="fortextbox" for="@Html.FieldIdFor(m => m.EventBackgroundColor)">@T("Set the background color for this schedule")</label>
</fieldset>
<fieldset>
    <input type="color" name="@Html.FieldNameFor(m => m.EventBorderColor)" id="@Html.FieldIdFor(m => m.EventBorderColor)" value="#@Model.EventBorderColor.ToString("X6")" />
        <label class="fortextbox" for="@Html.FieldIdFor(m => m.EventBorderColor)">@T("Set the border color for this schedule")</label>
</fieldset>
@*
@using (Script.Foot())
{
    <script type="text/javascript">
        $("#@Html.FieldIdFor(m => m.EventColor)").spectrum({
            color: "#@(Model.EventColor.ToString("X6"))"
        });
    </script>
}

*@